:root {
    /* Fonts */
    --font-main: 'League Spartan', 'Roboto', sans-serif;

    /* Header and Footer */
    --header-height: 60px;
    --footer-height: 50px;
    --z-header: 100;
    --z-footer: 100;

    /* Layout */
    --site-width: 1200px;
}

@media (max-width: 1400px) {
    :root {
        /* Layout */
        --site-width: 98vw;
    }
}
