.headerContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: var(--z-header);
    background: #4f82f2;
    color: white;
}

.header {
    width: var(--site-width);
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.header h2 {
    justify-self: start;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px;
}
