.matchList {
  min-width: 920px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Animation */
.card {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: calc(var(--i, 0) * 10ms);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* End Animation */

.showMore {
  display: block;
  background-color: white;
  border: solid 1px #bababa;
  border-radius: 10px;
  padding: 10px 0;

  text-align: center;
  color: #555;
  font-weight: 600;
  font-family: Roboto, sans-serif;

  transition: background-color 0.1s;
}

.showMore:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.showMore:disabled {
  color: #888;
}

.showMore:disabled:hover {
  color: #888;
  cursor: default;
}

.spinner {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #50a4ff;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
