.matchListCardMetadata {
  font-size: 0.9em;
  font-family: var(--font-main);
  padding: 10px;
}

.queueName {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2em;
}

.gameDate {
  font-style: italic;
  font-size: 0.9em;
}

.separator {
  width: 60%;
  border-bottom: solid #bcbcbc 1px;
  margin: 3px 0 6px;
}

.gameDuration {
  font-size: 0.9em;
}

.gameResult {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* .winner .gameResult {
  color: #5383e8
}

.loser .gameResult {
  color: #e85151
} */
